<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="bootstrap\css\bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/194b575a78.js" crossorigin="anonymous"></script>
    <!-- Vue -->
    <script src="vue/vue.js"></script>
    <!-- Additional CSS -->
    <link rel="stylesheet" href="script/additional.css" />
    <link rel="stylesheet" href="script/darkmode.css" />
    <link rel="stylesheet" href="script/loading.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png" />
    <link rel="manifest" href="favicon/site.webmanifest" />
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#d55b5b" />
    <meta name="apple-mobile-web-app-title" content="WarMAN" />
    <meta name="application-name" content="WarMAN" />
    <meta name="msapplication-TileColor" content="#ff6767" />
    <meta name="theme-color" content="#ff2a2a" />

    <!-- Title -->
    <title>WarMAN</title>
</head>

<body class="container-fluid" style="max-width: 950px">

    <!-- Loading -->
    <div class="loading" id="loading">
        <loading-div></loading-div>
    </div>

    <!-- Icon Preload -->
    <div id="preload">
        <icon-preload></icon-preload>
    </div>

    <!-- Top Bar -->
    <div id="navT" class="sticky-top">
        <nav-back></nav-back>
    </div>

    <!-- Main -->
    <div id="main">
        <div v-if="isEmpty">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                        <div>
                          Cart is empty
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <div v-for="(cart, id) in Cart">
                <div v-if="Cart[id] > 0" class="row justify-content-between">
                    <div class="col-3 my-auto">
                        {{Show(Menus, id)}}
                        {{Menu_Name[id]}}
                    </div>
                    <div class="col-4">
                        <div class="row input-group">
                            <button class="btn btn-primary col-auto" type="button" @click="updateValue(id, -1)">-</button>
                            <input class="form-control text-center col-auto" type="number" :id="id" v-model.number="Cart[id]" @change="changeValue(id)" style="max-width:15vw">
                            <button class="btn btn-primary col-auto" type="button" @click="updateValue(id, 1)">+</button>
                        </div>
                    </div>
                    <div class="col-3 my-auto far-row">
                        {{ compPrice[id] | toCurrency }}
                    </div>
                    <a class="col-auto btn btn-primary me-2" :id="id" @click="remove(id)">x</a>
                </div>
            </div>
            <hr >
            <div>
                <div class="row justify-content-between">
                    <div class="col-4 "></div>
                    <div class="col-3"></div>
                    <div class="col-3 my-auto far-row">
                        {{totalTotal|toCurrency}}
                    </div>
                    <div class="col-auto btn btn-primary me-2 invisible">x</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Bar -->
    <div id="navB" class="mx-auto clearfix fixed-bottom" style="max-width: 950px">
        <nav-bottom2></nav-bottom2>
    </div>

    <!-- Script Dump -->

    <!-- <script>
         function saveTotal() {
            const rows = document.getElementsByClassName("far-row");
            let totalCart = 0;
    
            for(let i = 0; i < rows.length; i++) {
                totalCart += parseInt(rows[i].innerHTML);
            }
    
            localStorage.Total = totalCart;
        }
        
        function updateCart(value, id){
            var crot = localStorage.Cart;
            var parseCrot = JSON.parse(crot);
            if(value == 0) {
                delete parseCrot[id];
                localStorage.Cart = JSON.stringify(parseCrot);
                location.reload()
            }
            else
            {
                parseCrot[id] = parseInt(value);
            // console.log(parseCrot);
                localStorage.Cart = JSON.stringify(parseCrot);
            }
            // location.reload();

            saveTotal();
        };
        // StoreData: function(){
        //     this.Total += parseInt(this.Menu_Price);
        //     console.log(parseInt(this.Menu_Price));
        //     localStorage.Total = this.Total;
        // },
    </script> -->

    <script src="vue/filter.js"></script>
    <script src="db/dbMenu.js"></script>
    <script src="vue/cart.js"></script>
    <script src="vue/template.js"></script>
    <script src="bootstrap\js\bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="script/loading.js"></script>
    <script src="script/darkmode.js"></script>
    <script>isdarkMode();</script>
</body>

</html>