<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="bootstrap\css\bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/194b575a78.js" crossorigin="anonymous"></script>
    <!-- Vue -->
    <script src="vue/vue.js"></script>
    <!-- Additional CSS -->
    <link rel="stylesheet" href="script/additional.css" />
    <link rel="stylesheet" href="script/darkmode.css" />
    <link rel="stylesheet" href="script/loading.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png" />
    <link rel="manifest" href="favicon/site.webmanifest" />
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#d55b5b" />
    <meta name="apple-mobile-web-app-title" content="WarMAN" />
    <meta name="application-name" content="WarMAN" />
    <meta name="msapplication-TileColor" content="#ff6767" />
    <meta name="theme-color" content="#ff2a2a" />

    <!-- Title -->
    <title>WarMAN</title>
</head>

<body class="container-fluid hide" style="max-width: 950px">

    <!-- Loading -->
    <div class="loading" id="loading">
        <loading-div></loading-div>
    </div>

    <!-- Top Bar -->
    <div id="navT" class="sticky-top">
        <nav-back></nav-back>
    </div>

    <!-- Main -->
    <div id="app" class="pb-5 pt-1">
        <div class="form-floating mb-3">
            <input v-model="Search" type="text" class="form-control" id="floatingInput" placeholder="Search" onkeyup="darkORlight()">
            <label for="floatingInput">Search</label>
        </div>
        <div v-for="Menu in Menus">
            <div v-if="Menu.Restaurant === Restaurant.id">
                <a @click="persist(Menu)" href="./detailMenu.html" id="card" class="card mb-3 border-dark">
                    <div class="card-body img-relative" style="padding: 0;">
                        <img class="card-img" :src="Menu.img" alt=""
                            style="max-height: 10rem; object-fit: cover; filter:brightness(50%)">
                        <div class="txt-center">
                            <h4>{{Menu.Name}}</h4>
                            <h5>{{Menu.Price | toCurrency}}</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Bottom Bar -->
    <div id="navB" class="mx-auto clearfix fixed-bottom" style="max-width: 950px">
        <nav-bottom></nav-bottom>
    </div>

    <!-- Script Dump -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
    <script src="vue/template.js"></script>
    <script src="vue/filter.js"></script>
    <script src="db/dbMenu.js"></script>
    <script src="bootstrap\js\bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="script/loading.js"></script>
    <script src="script/darkmode.js"></script>
    <script> isdarkMode(); window.addEventListener("load", function () {setTimeout(darkORlight, 2000);});</script>
</body>

</html>